<html>
    <head>
        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    </head>
    <body class="container_success">
        <div class="logged_in_nav">
            <div class="flex">
                <div>
                    <img src="../public/images/workos-logo-with-text.png" alt="workos logo">
                </div>
            </div>
            <div>
                <a href="https://workos.com/docs" target="_blank"><button class='button nav-item'>Documentation</button></a>
                <a href="https://workos.com/docs/reference" target="_blank"><button class='button nav-item'>API
                        Reference</button></a>
                <a href="https://workos.com/blog" target="_blank"><button
                        class='button nav-item blog-nav-button'>Blog</button></a>
                <a href="https://workos.com/" target="_blank"><button class='button button-outline'>WorkOS</button></a>
            </div>
        </div>
        <div class='flex'>
            <div class="logged_in_div_left">
                <h1>Your Team Members</h1>
                <div class="groupContainer">
                      <table>
                        <tr class="memberHeader">
                            <th class="firstHeader">First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                        </tr>
                          <tr class="member">
                            <td><%=firstPersonFirst%></td>
                            <td><%=firstPersonLast%></td>
                            <td><%=firstPersonEmail%></td>
                          </tr>
                          <tr class="member">
                            <td><%=secondPersonFirst%></td>
                            <td><%=secondPersonLast%></td>
                            <td><%=secondPersonEmail%></td>
                          </tr>
                          <tr class="member">
                            <td><%=thirdPersonFirst%></td>
                            <td><%=thirdPersonLast%></td>
                            <td><%=thirdPersonEmail%></td>
                          </tr>
                          <tr class="member">
                            <td><%=fourthPersonFirst%></td>
                            <td><%=fourthPersonLast%></td>
                            <td><%=fourthPersonEmail%></td>
                          </tr>
                          <tr class="member">
                            <td><%=fifthPersonFirst%></td>
                            <td><%=fifthPersonLast%></td>
                            <td><%=fifthPersonEmail%></td>
                          </tr>
                      </table>
                </div>
                <div class="buttonContainer">
                  <a href="/"><button class="button button-outline">Back to Home</button></a>
                  <a href="/logout"><button class="button button-outline">Log Out</button></a>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    </body>
</html>